*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
.banner {
    min-height: 100vh;
    width: 100%;
    background-image: url("images/donate\ 13\ black\ gradient.jpeg");
    background: linear-gradient("rgba(4,9,30,0,7),rgba(4,9,30,0,7)");
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
.Heading-Title{
    width: 95%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.Heading-Title p{
    margin: 10px 0  40px;
    font-size: 14px;
    color: #fff;
}
.Donate-btn{
    display: inline-block;
    text-decoration: solid;
    color: #fff;
    border: 1.5px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: tomato;
    border-radius: 15%;
    position: relative;
}
@media(max-width: 950px){
.donation_amount_tk ul {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.mtb_5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.donation_amount_warp_ptb_5 h1{
    color: black;
    text-align: center;
}
.donation_amount_contant h5{
    text-align: center;
}
}